heading {
    max-width: 750px;
    margin: 4rem auto;
    padding: .6rem;
  }
  body {
    background-color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
  }
  
  #title {
    margin-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    color: whitesmoke;

  }
  #main {
    padding: 5% 10%;
  }
  input {
    text-align: center;
    border: 5px solid rgb(5, 90, 15);
    
    border-radius: 5px;
    color: black;
    background-color: aqua;

  }
  #survey-form {
    background-color: rgba(122, 233, 231, 0.711);
    border-radius: 10px;
    padding: 20px 30px;
  }
  label {
    color: black;
    font-size: 30px;
    background-color: blue;
  }